[submodule "debian/modules/nginx-statsd"]
	path = debian/modules/nginx-statsd
	url = https://github.com/akatrevorjay/nginx-statsd.git
[submodule "debian/modules/ngx_brotli"]
	path = debian/modules/ngx_brotli
	url = https://github.com/google/ngx_brotli.git
[submodule "debian/modules/ngx_pagespeed"]
	path = debian/modules/ngx_pagespeed
	url = https://github.com/pagespeed/ngx_pagespeed.git
[submodule "debian/modules/nginx-push-stream-module"]
	path = debian/modules/nginx-push-stream-module
	url = https://github.com/wandenberg/nginx-push-stream-module.git
[submodule "debian/modules/nginx_upstream_check_module"]
	path = debian/modules/nginx_upstream_check_module
	url = https://github.com/akatrevorjay/nginx_upstream_check_module.git
[submodule "debian/modules/nginx-stream-upsync-module"]
	path = debian/modules/nginx-stream-upsync-module
	url = https://github.com/akatrevorjay/nginx-stream-upsync-module.git
[submodule "debian/modules/nginx-upsync-module"]
	path = debian/modules/nginx-upsync-module
	url = https://github.com/akatrevorjay/nginx-upsync-module.git
[submodule "debian/modules/nginx-rtmp-module"]
	path = debian/modules/nginx-rtmp-module
	url = https://github.com/arut/nginx-rtmp-module.git
[submodule "debian/modules/nginx-set-misc"]
	path = debian/modules/nginx-set-misc
	url = https://github.com/openresty/set-misc-nginx-module.git
